Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["elasticbeanstalk-eu-central-1-181501954146"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"

files:

  "/etc/gdrive/privatekey.p12":
    mode: "000444"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3.eu-central-1.amazonaws.com/elasticbeanstalk-eu-central-1-181501954146/resources/environments/privatekey.p12

  "/etc/pki/tls/certs/mychoiceapp.ru.crt":
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3.eu-central-1.amazonaws.com/elasticbeanstalk-eu-central-1-181501954146/resources/environments/mychoiceapp.ru.crt

  "/etc/pki/tls/certs/mychoiceapp.ru.key":
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3.eu-central-1.amazonaws.com/elasticbeanstalk-eu-central-1-181501954146/resources/environments/mychoiceapp.ru.key